/* This file assigns 
    No margin or padding in body tags
    Margin 10px to all of the p tags inside body tags
    using nested declarations
*/
$nonePx: 0px;
$decPx: 10px;

body {
    margin: $nonePx;
    padding: $nonePx;
    p {
        margin: $decPx;
    }
}
